openapi: 3.0.0
info:
  version: 1.8.0
  title: Route Mobile WhatsApp API
  description: >-
    Welcome to the Route Mobile developer hub. You'll find comprehensive
    WhatsApp API documentation to help you start working with Route Mobile as
    quickly as possible, as well as support if you get stuck. Let's jump right
    in!


    For more information, see the [Route Mobile WhatsApp OpenAPI
    Specifications](https://routemobile.github.io/WhatsApp-Business-API/WBS.html).
  contact:
    url: https://developers.routemobile.com/
    name: Route Mobile Development
servers:
  - url: https://apis.rmlconnect.net
paths:
  /wba/v2/upload:
    post:
      tags:
        - WhatsApp Bulk Upload
      summary: File Upload
      description: The File Upload API sends multiple messages to users in a single upload.
      operationId: fileUpload
      parameters:
        - name: source
          in: query
          description: >-
            The details of the source for uploading the file for a bulk
            campaign.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: UI
        - name: debug
          in: query
          description: >-
            The parameter that enables or disables the debug mode.   Set the
            default value of "debug=True" to enable the debug mode. The system
            generates additional information and logs to help resolving
            troubleshoot and debug issues with the bulk campaigns.
          style: form
          explode: true
          schema:
            enum:
              - 'True'
              - 'False'
            example: 'True'
      requestBody:
        description: ''
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/v2_upload_body'
            examples:
              Example:
                value:
                  campaign_type: string
                  file: string
                  file_mimetype: string
                  filename: string
                  message: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
              examples:
                Example 1:
                  value:
                    message: File uploaded successfully
                    campaign_id: 670b3fd4-d442-11ed-a821-xxxxxxxxxxxx
                    file_type: text/csv
                    file_size: 19.0B
                    total_records: 1
                    valid_records: 1
                    duplicate records: 0
                    campaign_type: generalized
                    message_preview:
                      phone: 91868841xxxx
                      enable_acculync: true
                      extra: '{''asd'':''asd''}'
                      media:
                        type: media_template
                        template_name: boarding_pass_update
                        lang_code: en
                        header:
                          - image:
                              link: >-
                                https://media.istockphoto.com/vectors/airplane-ticket-boarding-pass-ticket-template-vector-id878xxxxxx
                        body:
                          - text: Here is your boarding pass
                    asynchronous: false
                    country_code: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                JWT Token Expired:
                  value:
                    message: unable to process campaign request
                    reason: jwt token expired
                    status: failure
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/file_upload_422_unknown_campaigntype'
                  - $ref: '#/components/schemas/file_upload_422_filemimetype'
              examples:
                Unknown campaign type:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      campaign_type:
                        - 'Must be one of: generalized, personalized.'
                File Mimetype error:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      file_mimetype:
                        - >-
                          Must be one of: text/csv, text/plain,
                          application/vnd.ms-excel,
                          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                          application/vnd.openxmlformats-officedocument.spreadsheetml.template,
                          application/vnd.ms-excel.sheet.macroEnabled.12,
                          application/vnd.ms-excel.template.macroEnabled.12,
                          application/vnd.ms-excel.addin.macroEnabled.12,
                          application/vnd.ms-excel.sheet.binary.macroEnabled.12.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The message response.
              examples:
                Internal server error:
                  value:
                    status: failure
                    message: unable to process request
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/v2/manage_campaign:
    post:
      tags:
        - WhatsApp Bulk Upload
      summary: Send Bulk Campaign
      description: >-
        The Send Bulk Campaign API sends messages in bulk to multiple users,
        manages large-scale campaigns, and reduces the workload for marketers or
        business owners.
      operationId: sendBulkCampaign
      parameters:
        - name: debug
          in: query
          description: >-
            The parameter that enables or disables the debug mode.   Set the
            default value of "debug=True" to enable the debug mode. The system
            generates additional information and logs to help resolving
            troubleshoot and debug issues with the bulk campaigns.
          style: form
          explode: true
          schema:
            enum:
              - 'True'
              - 'False'
            example: 'True'
        - name: source
          in: query
          description: >-
            The details of the source for uploading the file for a bulk
            campaign.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: UI
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
                - "$ref": "#/components/schemas/Start_Campaign"
                - "$ref": "#/components/schemas/Resume_Campaign"
                - "$ref": "#/components/schemas/Pause_Campaign"
            examples:
              Start Campaign:
                value:
                  campaign_action: start
                  campaign_id: "{campaign id}"
                  campaign_name: "{campaign name}"
                  file_mimetype: text/plain or text/csv
                  filename: "{filename with extension}"
                  payload:
                    type: "{payload type}"
                  scheduled_time: "{date and time in UTC e.g.2021-12-08 13:36:00}"
              Pause Campaign:
                value:
                  campaign_action: pause
                  campaign_id: "{campaign id}"
              Resume Campaign:
                value:
                  campaign_action: resume
                  campaign_id: "{campaign id}"             

      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
              examples:
                Example:
                  value:
                    status: success
                    message: >-
                      campaign with id 670b3fd4-d442-11ed-a821-xxxxxxxxxxxx is
                      now processing
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_1'
              examples:
                Filename Mismatch:
                  value:
                    status: failed
                    message: unable to process request
                    reason: >-
                      file name mismatch between /upload and /campaign endpoints
                      for 670b3fd4-d442-11ed-a821-xxxxxxxxxxxx
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_3'
              examples:
                JWT Token Expired:
                  value:
                    status: failed
                    message: unable to process request
                    reason: jwt token expired
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/send_bulkcamp_422_incorrect_payltyp'
                  - $ref: '#/components/schemas/send_bulkcamp_422_incorrectcampid'
              examples:
                Incorrect Payload Type:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      payload:
                        - Unable to check payload type
                Incorrect Campaign ID:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      campaign_id:
                        - Not a Valid Campaign Id
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the bulk campaign.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the request.
              examples:
                Example:
                  value:
                    status: failed
                    message: unable to process request
                    reason: <internal server error reason>
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/upload:
    post:
      tags:
        - WhatsApp Catalog Manager
      summary: Upload File
      description: Upload the product feed file.
      operationId: uploadFile
      requestBody:
        description: ''
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/v1_upload_body'
            examples:
              Example 1:
                value:
                  action: Update
                  file: string
                  file_name: file_name
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the upload file.
                  file_url:
                    type: string
                    description: The URL for uploading a file.
                  count:
                    type: integer
                    description: The number of products added in the catalog file.
              examples:
                Example:
                  value:
                    status: success
                    file_url: AWS S3 url
                    count: 20
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: array
                    description: The error received during file upload.
                    items:
                      type: string
              examples:
                Example:
                  value:
                    error:
                      - Provide file_name
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
              examples:
                JWT Token Expired:
                  value:
                    message: unable to process campaign request
                    reason: jwt token expired
                    status: failure
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The message response.
                  reason:
                    type: string
                    description: The reason for not processing the file upload request.
              examples:
                Example:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/create_product_feed:
    post:
      tags:
        - WhatsApp Catalog Manager
      summary: Create Product Feed
      description: Create a feed of products for a WhatsApp Business account.
      operationId: createProductFeed
      requestBody:
        description: ''
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/v1_create_product_feed_body'
            examples:
              Example 1:
                value:
                  file_url: file_url
                  name: product_feed_name
                  schedule: '"interval":"HOURLY","scheduled_time":"2022-09-06 11:38:00"'
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the create product feed.
              examples:
                Example:
                  value:
                    status: processing
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: array
                    description: The required fields name.
                    items:
                      type: string
              examples:
                Example:
                  value:
                    name:
                      - Missing data for required field.
            application/xml:
              schema:
                type: object
            multipart/form-data:
              schema:
                type: object
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The message response.
                  reason:
                    type: string
                    description: The reason for not processing the product feed request.
              examples:
                Example:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/update_product_feed:
    post:
      tags:
        - WhatsApp Catalog Manager
      summary: Update Product Feed
      description: Update an existing feed of products for a WhatsApp Business account.
      operationId: updateProductFeed
      requestBody:
        description: ''
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/v1_update_product_feed_body'
            examples:
              Example 1:
                value:
                  file_url: string
                  product_feed_id: string
                  schedule: '"interval":"HOURLY","scheduled_time":"2022-09-06 11:38:00"'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the product feed.
              examples:
                Example:
                  value:
                    status: processing
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_feed_id:
                    type: array
                    description: The unique identifier of the product feed.
                    items:
                      type: string
              examples:
                Example:
                  value:
                    product_feed_id:
                      - Missing data for required field.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Example:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of product feed updates.
                  message:
                    type: string
                    description: The message response.
                  reason:
                    type: string
                    description: The reason for not updating the product feed.
              examples:
                Example:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/delete_product_feed:
    post:
      tags:
        - WhatsApp Catalog Manager
      summary: Delete product Feed
      description: Delete an existing feed of products for a WhatsApp Business account.
      operationId: deleteProductFeed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_delete_product_feed_body'
          application/xml:
            schema:
              $ref: '#/components/schemas/v1_delete_product_feed_body_1'
            examples:
              Example 1:
                value:
                  product_feed_id: '{product_feed_id}'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the product feed.
              examples:
                Example 1:
                  value:
                    status: processing
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_feed_id:
                    type: array
                    description: The unique identifier of the product feed.
                    items:
                      type: string
              examples:
                Example 1:
                  value:
                    product_feed_id:
                      - Missing data for required field.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_1'
              examples:
                Example 1:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for the product feed.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not deleting the product feed request.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/fetch_product_feed:
    get:
      tags:
        - WhatsApp Catalog Manager
      summary: Fetch Product Feed Details
      description: >-
        Fetch product feed details, which is used to retrieve details about a
        specific product feed. The product feed includes a comma-separated list
        of field names:

        - retailer_id: The ID of the retailer associated with the product.

        - name: The name of the product.

        - price: The price of the product.

        - availability: The availability status of the product.

        - id: The ID of the product.

        - description: The description of the product.

        - color: The color of the product.

        - size: The size of the product.

        - condition: The condition of the product.

        - product_type: The type of product.

        - quantity_to_sell_on_facebook: The quantity of the product to be sold
        on Facebook.

        - url: The URL of the product.

        - gender: The gender for which the product is intended.

        - age_group: The age group for which the product is intended.

        - sale_price: The sale price of the product.

        - mpn: The manufacturer part number of the product.

        - sale_price_effective_date: The effective date range of the sale price.

        - brand: The brand of the product.

        - custom_label_0: A custom label for the product.
      operationId: fetchProductFeedDetails
      parameters:
        - name: product_feed_id
          in: query
          description: >-
            The unique ID of the product feed for which details should be
            fetched.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: >-
            The fields that should be included in the response. The value should
            be a comma-separated list of field names, such as "retailer_id,
            name, price, id".
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            The maximum number of products to return in the response. The value
            should be an integer.
          required: true
          schema:
            type: string
        
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: The product feed details.
                    items:
                      type: object
              examples:
                Example 1:
                  value:
                    data:
                    - name: Dairy Milk Silk
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹125.00"
                      description: Dairy Products
                      retailer_id: xxxxx
                    - name: Maggie Pasta
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹25.00"
                      description: Instant Food
                      retailer_id: xxxxx
                    - name: Pulses 1kg
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹200.00"
                      description: Pulses are very good for health
                      retailer_id: xxxxx
                    - name: Cow Ghee
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹499.00"
                      description: Healty  Cow Ghee
                      retailer_id: xxxxx
                    - name: BESAN 250 Gm
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹32.00"
                      description: Besan or Gram flour is made from Chana Dal. Besan atta is used too
                        make Bhaji, Vada , Sev, Chaklis, and many more items. It has various beauty benefits.
                      retailer_id: xxxxx
                    - name: Pastry
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹50.00"
                      description: Dairy Products
                      retailer_id: xxxxx
                    - name: Tea 2 kg
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹800.00"
                      description: Tea & Coffee
                      retailer_id: xxxxx
                    - name: Olive Oil 1L
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹400.00"
                      description: Olive Oil
                      retailer_id: xxxxx
                    - name: Olive Oil 2L
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹799.00"
                      description: Olive Oil
                      retailer_id: xxxxx
                    - name: Yippe Pasta
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹25.00"
                      description: Instant Food
                      retailer_id: xxxxx
                    - name: Cotton Oil
                      id: 'xxxxxxxxxxxxxxxxx'
                      price: "₹499.00"
                      description: Cotton Oil
                      retailer_id: xxxxx
                    next_url: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/v1/fetch_product_feed?access_token=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&limit=10&fields=name,id,price,description,retailer_id&product_feed_id=xxxxxxxxxxxxxxx&after=xxxxxxxxxxxxxxxxxxxxxxxx&before=
                    prev_url: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/v1/fetch_product_feed?access_token=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&limit=10&fields=name,id,price,description,retailer_id&product_feed_id=xxxxxxxxxxxxxx&after=&before=xxxxxxxxxxxxxxxxx

        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Invalid token:
                  value:
                    message: >-
                      Error validating access token: The session has been
                      invalidated because the user changed their password or
                      Facebook has changed the session for security reasons.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  status:
                    type: string
                    description: The status of the product feed.
                  reason:
                    type: string
                    description: The reason for not fetching product feed details.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/fetch_product_details:
    get:
      tags:
        - WhatsApp Catalog Manager
      summary: Fetch All Product Feed
      description: >-
        Fetch a list of all product feeds associated with a WhatsApp Business
        account. To use this endpoint, specify the necessary authorization token
        credentials.
      operationId: fetchAllProductFeed
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  catalog_id:
                    type: string
                    description: The unique ID of the catalog that contains the product.
                  file_url:
                    type: string
                    description: The URL of the file.
                  interval:
                    type: string
                    nullable: true
                    description: >-
                      The time interval at which the product feed should be
                      updated.
                  product_feed_count:
                    type: integer
                    description: The total number of products to fetch.
                  product_feed_id:
                    type: string
                    description: The unique ID of the product feed.
                  product_feed_name:
                    type: string
                    description: The name of the product feed.
                  scheduled:
                    type: boolean
                    description: Indicates whether this event is scheduled.
                  scheduled_timestamp:
                    type: string
                    nullable: true
                    description: The scheduled time of the message.
                  timestamp:
                    type: string
                    description: >-
                      The timestamp of when the message was submitted to the
                      API.
                  upload_session_id:
                    type: string
                    description: >-
                      The unique ID for the product feed upload session that you
                      want to retrieve the errors for.
              examples:
                Example 1:
                  value:
                    catalog_id: 62305622836xxxxx
                    file_url: >-
                      https://www.example.com/demo_xxxx-xxxd-965a-0a58a9feac02.csv
                    interval: string
                    product_feed_count: 0
                    product_feed_id: 122543386xxxxxxx
                    product_feed_name: testammy
                    scheduled: false
                    scheduled_timestamp: string
                    timestamp: '2023-02-27 09:54:47.337571'
                    upload_session_id: 1225433871xxxxxx
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the product feed.
                  message:
                    type: string
                    description: The message response.
                  reason:
                    type: string
                    description: The reason for not fetching product feeds.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/fetch_catalog_details:
    get:
      tags:
        - WhatsApp Catalog Manager
      summary: Fetch Catalog Details
      description: >-
        Fetch details about a specific product catalog associated with a
        WhatsApp Business account. The fields information includes a
        comma-separated list:

        - name: The name of the product catalog.

        - product_count: The total number of products in the product catalog.

        - schedule: The schedule for updating the product catalog.

        - latest_upload: The date and time of the most recent upload to the
        product catalog.

        - retailer_id: The ID of the retailer associated with the product
        catalog.

        - price: The price of the product.

        - availability: The availability status of the product.

        - id: The ID of the product.

        - description: The description of the product.

        - color: The color of the product.

        - size: The size of the product.

        - condition: The condition of the product.

        - product_type: The type of product.

        - quantity_to_sell_on_facebook: The quantity of the product to sell on
        Facebook.

        - url: The URL of the product.

        - gender: The gender of the product.

        - age_group: The age group of the product.

        - sale_price: The sale price of the product.

        - mpn: The manufacturer part number of the product.

        - sale_price_effective_date: The effective date of the sale price of the
        product.

        - brand: The brand of the product.

        - custom_label_0: The custom label of the product.

        - image_url: The URL of the product image.
      operationId: fetchCatalogDetails
      parameters:
        - name: catalog_id
          in: query
          description: The ID of the catalog the product belongs to.
          required: true
          schema:
            type: string
        - name: fetch_details
          in: query
          description: Option to fetch the product catalog details.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: >-
            The fields that should be included in the response. The value should
            be a comma-separated list of field names, such as "name,
            product_count".
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: >-
                      An array of objects representing the catalog details of a
                      specific product.
                    items:
                      type: object
                      properties:
                        retailer_id:
                          type: string
                          description: ' The unique identifier for the retailer associated with the product.'
                        name:
                          type: string
                          description: The name of the product.
                        price:
                          type: string
                          description: The price of the product.
                        availability:
                          type: string
                          description: The availability status of the product.
                        id:
                          type: string
                          description: 'The unique identifier for the product. '
                        description:
                          type: string
                          description: A brief description of the product.
                        condition:
                          type: string
                          description: The condition of the product.
                        quantity_to_sell_on_facebook:
                          type: integer
                          description: ' The quantity of the product available for sale on Facebook. '
                        url:
                          type: string
                          description: >-
                            The URL of the product where the product can be
                            viewed or purchased.
                        gender:
                          type: string
                          description: The target gender for the product.
                        age_group:
                          type: string
                          description: The target age group for the product.
                        brand:
                          type: string
                          description: The brand name of the product.
                        image_url:
                          type: string
                          description: >-
                            The URL that points to the image representing the
                            product. 
                  next_url:
                    type: string
                    description: The URL for the next page.
                  prev_url:
                    type: string
                    description: The URL for the previous page.
              examples:
                Example 1:
                  value:
                    data:
                      - retailer_id: 12641xxx
                        name: Coca-Cola Zero 500ml 1 24
                        price: د.إ.85.00
                        availability: in stock
                        id: 5856857177xxxxxx
                        description: Coca-Cola Zero 500ml PET (Pack of 24)
                        condition: new
                        quantity_to_sell_on_facebook: 0
                        url: >-
                          https://en.coca-colaarabia.com/brands/coca-cola-original-taste
                        gender: ''
                        age_group: ''
                        brand: Coca-Cola
                        image_url: https://800mycoke.ae/app/images/wa/Cokexxxl.jpg
                    next_url: >-
                      https://apis.rmlconnect.net/wba/catalog/manager/v1/fetch_catalog_details?access_token=EAAfkxRwYZCloBAPRyGP69xQcIf3MWYUZCwFcMyEHxTdnXCawZCVJy8AHX9ynmmYKNM0ZAgfSOCsdAkZBHPi6yauFIe682jfswkdWcotj5BMlHpjZCiuhWZCLYl52z4b6abEwsg1zxvOVLkBxxxxxxxxxxxxxxxxxxxxxZCBHEXZCK4UrnYL4ymHYHZB0&limit=10&fields=retailer_id,name,price,availability,id,description,color,size,condition,product_type,quantity_to_sell_on_facebook,url,gender,age_group,sale_price,mpn,sale_price_effective_date,brand,custom_label_0,image_url&catalog_id=965968734067732&fetch_details=true&after=QVFIUkFOVWJJX2d0a1BMbEw0Q0Jxxxxxxxxxxxxxxxxxxxx2Y2dDNQN0ZAMU0IzaGJtRlBKUXZACWHpuUEp6YUE5VWdmTWVyT0ZA5U1RBN0RaQ2owcDVPSkJNS3h3&before=
                    prev_url: >-
                      https://apis.rmlconnect.net/wba/catalog/manager/v1/fetch_catalog_details?access_token=EAAfkxRwYZCloBAPRyGP69xQcIf3MWYUZxxxxxxxxxxxxxxxxxxxxx8AHX9ynmmYKNM0ZAgfSOCsdAkZBHPi6yauFIe682jfswkdWcotj5BMlHpjZCiuhWZCLYl52z4b6abEwsg1zxvOVLkBxxxxxxxzVElEol1kLrZCcZCBHEXZCK4UrnYL4ymHYHZB0&limit=10&fields=retailer_id,name,price,availability,id,description,color,size,condition,product_type,quantity_to_sell_on_facebook,url,gender,age_group,sale_price,mpn,sale_price_effective_date,brand,custom_label_0,image_url&catalog_id=9659687xxxxxxxx&fetch_details=true&after=&before=QVFIUl84bDh3UDlaU0tPZAkhDUVJNN3p6c0ktNUZAodktJTXpkekVLMFdwSzllOW5GZAWxSOTQ1NHloUWpxxxxxxxxxxxxxxxxxxVFsVU1ZAaDUzR0tVZAzM3VXZAB
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    description: The list of allowed fields.
                    items:
                      type: string
              examples:
                Example 1:
                  value:
                    fields:
                      - >-
                        Allowed fields are
                        retailer_id,name,price,availability,id,description,color,size,condition,product_type,quantity_to_sell_on_facebook,url,gender,age_group,sale_price,mpn,sale_price_effective_date,brand,custom_label_0,image_url
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the catalog.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not fetching catalog details.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/schedule_product_feed_details:
    get:
      tags:
        - WhatsApp Catalog Manager
      summary: Fetch Schedule Product Feed Details
      description: >-
        Fetch scheduled product feeds associated with a WhatsApp Business
        account.
      operationId: fetchScheduleProductFeedDetails
      parameters:
        - name: product_feed_id
          in: query
          description: >-
            The unique ID of the product feed fetches from your system and then
            schedules the product feed.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  schedule:
                    type: object
                    description: ' The scheduled job for processing a product feed.'
                    properties:
                      hour:
                        type: integer
                        description: The hour at which the schedule is set to run.
                      id:
                        type: string
                        description: The unique identifier for the schedule.
                      interval:
                        type: string
                        description: The interval type for the schedule.
                      interval_count:
                        type: integer
                        description: The number of intervals for the schedule.
                      minute:
                        type: integer
                        description: 'The minute at which the schedule is set to run. '
                      timezone:
                        type: string
                        description: The timezone in which the schedule is configured.
                      url:
                        type: string
                        description: >-
                          The URL pointing to the location of the product feed
                          file to be processed. 
                  uploads:
                    type: object
                    description: >-
                      The information about previous uploads of the product
                      feed.
                    properties:
                      data:
                        type: array
                        description: >-
                          An array of objects representing the details of
                          previous uploads.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: ' The unique identifier for the latest upload.'
                            start_time:
                              type: string
                              description: The start time of the latest upload.
                            end_time:
                              type: string
                              description: The end time of the latest upload.
                  latest_upload:
                    type: object
                    description: The details of the most recent upload of the product feed.
                    properties:
                      id:
                        type: string
                        description: ' The unique identifier for the latest upload.'
                      start_time:
                        type: string
                        description: The start time of the latest upload.
                      end_time:
                        type: string
                        description: The end time of the latest upload.
                  name:
                    type: string
                    description: The name of the product feed schedule.
                  id:
                    type: string
                    description: The unique identifier for the product feed schedule.
              examples:
                Example 1:
                  value:
                    schedule:
                      hour: 11
                      id: 51143928431xxxx
                      interval: HOURLY
                      interval_count: 1
                      minute: 38
                      timezone: UTC
                      url: >-
                        http://wbm-nextgen.s3.ap-south-1.amazonaws.com/demo_af11-efe9f3bxxxxx.csv
                    uploads:
                      data:
                        - id: 128427331883xxxx
                          start_time: 2023-04-28T10:28:24+0000
                          end_time: 2023-04-28T10:38:17+0000
                    latest_upload:
                      id: 128427331883xxxx
                      start_time: 2023-04-28T10:28:24+0000
                      end_time: 2023-04-28T10:38:17+0000
                    name: schedule_product_feed
                    id: 113616569031xxxx
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    message: >-
                      Unsupported get request. Object with ID
                      '1136165690310xxxx' does not exist, cannot be loaded due
                      to missing permissions, or does not support this
                      operation. Please read the Graph API documentation at
                      https://developers.facebook.com/docs/graph-api
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the product feed.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the request.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wba/catalog/manager/v1/fetch_errors:
    get:
      tags:
        - WhatsApp Catalog Manager
      summary: Fetch Errors
      description: >-
        The Fetch Errors API calls all error outputs for the particular upload
        session ID.
      operationId: fetchErrors
      parameters:
        - name: upload_session_id
          in: query
          description: >-
            The unique ID for the product feed upload session that you want to
            retrieve the errors for.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: array
                    description: An array that describes the error description.
                    items:
                      type: object
                      properties:
                        summary:
                          type: string
                          description: The summary of the errors.
                        description:
                          type: string
                          description: The description of the error.
                        severity:
                          type: string
                          description: The severity of the error.
              examples:
                Example 1:
                  value:
                    error:
                      - summary: ''
                        description: ''
                        severity: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    message: >-
                      Unsupported get request. Object with ID '44029838816xxxx'
                      does not exist, cannot be loaded due to missing
                      permissions, or does not support this operation. Please
                      read the Graph API documentation at
                      https://developers.facebook.com/docs/graph-api
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for fetching errors.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing a request.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /whatsapp/report/v1/create_report/myaccounts_panel:
    post:
      tags:
        - WhatsApp Reports
      summary: Create Report
      description: >
        Create reports for your WhatsApp Business account. Use the projections
        while creating a new report.


        The available projection fields are:


        - country_code: The country code of the phone number.

        - msisdn: The phone number of the customer.

        - message_type: The type of the message, such as text, image, video, and
        document.

        - message_payload: The content of the message.

        - request_id: The request ID of the message.

        - conversation_id: The conversation ID of the message.

        - message_id: The message ID of the message.

        - submit_timestamp: The timestamp when the message was submitted.

        - sent_timestamp: The timestamp when the message was sent.

        - delivery_timestamp: The timestamp when the message was delivered.

        - read_timestamp: The timestamp when the message was read.

        - failed_timestamp: The timestamp when the message failed to be
        delivered.

        - deleted_timestamp: The timestamp when the message was deleted.

        - extra: Any additional metadata associated with the message.

        - pricing_model: The pricing model for the message.
      operationId: createReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_report_myaccounts_panel_body'
            examples:
              Example 1:
                value:
                  csv_max_lines: 10000
                  filters:
                    end_date: '{end-date}'
                    start_date: '{start-date}'
                  projections:
                    - country_code
                    - msisdn
                    - message_type
                    - message_payload
                    - request_id
                    - conversation_id
                    - message_id
                    - submit_timestamp
                    - sent_timestamp
                    - delivery_timestamp
                    - read_timestamp
                    - failed_timestamp
                    - deleted_timestamp
                    - extra
                    - pricing_model
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the report.
                  id:
                    type: integer
                    description: The unique identifier that represents the report.
              examples:
                Example 1:
                  value:
                    status: success
                    id: 86
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/create_report_400_invalid_start_date'
                  - $ref: '#/components/schemas/create_report_400_invalid_end_date'
              examples:
                Invalid start date:
                  value:
                    status: failed
                    errors:
                      filters:
                        start_date:
                          - Missing data for required field.
                Invalid end date:
                  value:
                    status: failed
                    errors:
                      filters:
                        end_date:
                          - Missing data for required field.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Example 1:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the report.
                  errors:
                    type: string
                    description: The error for not generating the report.
              examples:
                Example 1:
                  value:
                    status: failed
                    errors: Contact administration for more info
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /whatsapp/report/v1/create_campaign_specific_report/myaccounts_panel:
    post:
      tags:
        - WhatsApp Reports
      summary: Create Campaign Specific Report
      description: >
        Create a campaign-specific report for WhatsApp Business account. The
        projections field contains a comma-separated list of field names:

        - country_code: The country code of the recipient's phone number.

        - msisdn: The recipient's phone number.

        - message_type: The type of the message, such as text, image, and video.

        - message_payload: The content of the message.

        - request_id: The unique ID assigned to the message by the WhatsApp
        Business API.

        - conversation_id: The ID of the conversation thread.

        - message_id: The ID of the message.

        - submit_timestamp: The timestamp of when the message was submitted to
        the API.

        - sent_timestamp: The timestamp of when the message was sent to the
        recipient.

        - delivery_timestamp: The timestamp of when the message was delivered to
        the recipient.

        - read_timestamp: The timestamp of when the message was marked as read
        by the recipient.

        - failed_timestamp: The timestamp of when the message failed to be
        delivered.

        - deleted_timestamp: The timestamp of when the message was deleted.

        - extra: Additional information about the message.

        - pricing_model: The pricing model used for the message.

        - scheduled_time: The scheduled time of the message, if it was a
        scheduled message.
      operationId: createCampaignSpecificReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/create_campaign_specific_report_myaccounts_panel_body
            examples:
              Example 1:
                value:
                  csv_max_lines: 100000
                  filters:
                    campaign_id: '{campaign-id}'
                    campaign_name: '{campaign-name}'
                    end_date: '{end-date}'
                    start_date: '{start-date}'
                  projections:
                    - country_code
                    - msisdn
                    - message_type
                    - message_payload
                    - request_id
                    - conversation_id
                    - message_id
                    - submit_timestamp
                    - sent_timestamp
                    - delivery_timestamp
                    - read_timestamp
                    - failed_timestamp
                    - deleted_timestamp
                    - extra
                    - pricing_model
                    - scheduled_time
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for the campaign specific report.
                  id:
                    type: integer
                    description: >-
                      The unique identifier that represents the campaign
                      specific report.
              examples:
                Example 1:
                  value:
                    status: success
                    id: 186
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for the campaign specific report.
                  errors:
                    type: object
                    description: The object that represents the error messages.
                    properties:
                      filters:
                        type: object
                        description: The filter to generate the report.
                        properties:
                          start_date:
                            type: array
                            description: The start date of the report.
                            items:
                              type: string
              examples:
                Validation Error:
                  value:
                    status: failed
                    errors:
                      filters:
                        start_date:
                          - Missing data for required field.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Example 1:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for the campaign specific report.
                  errors:
                    type: string
                    description: The error for not generating the report.
              examples:
                Example 1:
                  value:
                    status: failed
                    errors: Contact administration for more info
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /whatsapp/report/v1/fetch_campaign_specific_report/{report_id}:
    get:
      tags:
        - WhatsApp Reports
      summary: Fetch Report URL
      description: >-
        Fetch campaign data from the provided URL by entering the report_id
        parameter details.
      operationId: fetchReportUrl
      parameters:
        - name: report_id
          in: path
          description: Unique ID of the report.
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    message: report is not yet generated
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_url:
                    type: string
                    description: The URL of the report.
              examples:
                Example 1:
                  value:
                    report_url: url
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  status:
                    type: string
                    description: The status of the report.
                  reason:
                    type: string
                    description: The status for not generating the report.
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: >-
                      The reason for not processing the request or not
                      generating the report.
              examples:
                Example 1:
                  value:
                    message: Exception in Fetch Campaign Report
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /whatsapp/report/v1/fetch_campaign_details:
    get:
      tags:
        - WhatsApp Reports
      summary: View Campaign Summary
      description: >-
        View the campaign summary for the WhatsApp Business account. Ensure that
        you provide an authentication token in the request headers for the
        successful API call.
      operationId: viewCampaignSummary
      parameters:
        - name: page_number
          in: query
          description: The page number of the results to be fetched. Default is "1".
          required: true
          style: form
          explode: true
          schema:
            type: number
        - name: download
          in: query
          description: >-
            A boolean flag indicating whether to download the report or not.
            Default value is 'false'.
          required: true
          style: form
          explode: true
          schema:
            type: boolean
            example: 'true'
        - name: start-date
          in: query
          description: >-
            The start date in "YYYY-MM-DD" order followed by the time in the
            "HH:MM:SS" format, that specifies the beginning of the date range
            for which to fetch campaign summary report.
          required: true
          schema:
            type: string
        - name: end-date
          in: query
          description: >-
            The end date in "YYYY-MM-DD" order followed by the time in the
            "HH:MM:SS" format, that specifies the end of the date range for
            which to fetch campaign summary report.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
              examples:
                Example 1:
                  value:
                    result:
                      - campaign_id: 276f63e2-cb36-11ed-af9d-0242ac13xxxx
                        campaign_name: rmluxxx1-3
                        campaign_status: done
                        campaign_type: generalized
                        delivered: 2
                        failed: 1
                        message_payload:
                          country_code: '+91'
                          media:
                            lang_code: en
                            template_name: testing_16_03
                            type: media_template
                          phone: 704527xxxx
                        message_type: media_template
                        process_end_timestamp: '2023-03-25 17:55:02.815756'
                        process_start_timestamp: '2023-03-25 17:55:00.051162'
                        read: 1
                        scheduled_time: string
                        sent: 3
                        submit: 3
                        user_name: RMLxxx11
                      - campaign_id: 1fd39188-cb2e-11ed-9866-0242acxxxxx5
                        campaign_name: testuxxx1-2
                        campaign_status: done
                        campaign_type: generalized
                        delivered: 2
                        failed: 1
                        message_payload:
                          country_code: '+91'
                          media:
                            lang_code: en
                            template_name: testing_16_03
                            type: media_template
                          phone: 704527xxxx
                        message_type: media_template
                        process_end_timestamp: '2023-03-25 16:58:45.853958'
                        process_start_timestamp: '2023-03-25 16:58:43.181214'
                        read: 1
                        scheduled_time: string
                        sent: 3
                        submit: 3
                        user_name: RMLUxxxx
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  status:
                    type: string
                    description: The status of the view campaign summary.
                  reason:
                    type: string
                    description: >-
                      The reason for not generating the generating the view
                      campaign summary.
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: >-
                      The reason for not processing the request or not
                      generating the report.
              examples:
                Example 1:
                  value:
                    message: Exception in Fetch Campaign Manager
                    reason: '''Request'' object has no attribute ''username'''
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /whatsapp/report/v1/fetch_reports:
    get:
      tags:
        - WhatsApp Reports
      summary: View Report Summary
      description: View report summary for the WhatsApp Business account.
      operationId: viewReportSummary
      parameters:
        - name: start_date
          in: query
          description: >-
            The start date in "YYYY-MM-DD" order followed by the time in the
            "HH:MM:SS" format, that specifies the beginning of the date range
            for which to fetch reports.
          required: true
          schema:
            type: string
        - name: end_date
          in: query
          description: >-
            The end date in "YYYY-MM-DD" order followed by the time in the
            "HH:MM:SS" format, that specifies the end of the date range for
            which to fetch reports.
          required: true
          schema:
            type: string
        - name: page_number
          in: query
          description: >-
            The page number of the paginated results to return. The default
            value is 1.
          schema:
            type: string
        - name: page_size
          in: query
          description: The number of results to return per page. The default value is 5.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    description: "An array of objects representing the result or response of the operation.\r\n\r\n"
                    items:
                      type: object
                      properties:
                        file_path:
                          type: string
                          description: 'The file path or name associated with the result. '
                        id:
                          type: integer
                          description: The identifier associated with the result.
                        msisdn:
                          type: string
                          nullable: true
                          description: 'The mobile phone number associated with the result. '
                        payload:
                          type: object
                          description: "Additional payload information related to the result.\r\n"
                          properties:
                            csv_max_lines:
                              type: integer
                              description: >-
                                The maximum number of lines allowed in the CSV
                                file. 
                            filters:
                              type: object
                              description: The filters applied to the result.
                              properties:
                                end_date:
                                  type: string
                                  description: The end date for the filter.
                                start_date:
                                  type: string
                                  description: The start date for the filter.
                            projections:
                              type: array
                              description: 'The projected fields from the result. '
                              items:
                                type: string
                            request_source:
                              type: string
                              description: 'The source or origin of the request. '
                        status:
                          type: string
                          description: 'The status of the result. '
                        timestamp:
                          type: string
                          description: The timestamp of the result.
                        username:
                          type: string
                          description: The username associated with the result.
              examples:
                Example 1:
                  value:
                    result:
                      - file_path: fa15c156-8dba-11ed-bc2b-0242acxxxxx5.zip
                        id: 107xxx
                        msisdn: string
                        payload:
                          csv_max_lines: 100000
                          filters:
                            end_date: '2023-01-06'
                            start_date: '2023-01-06'
                          projections:
                            - country_code
                            - msisdn
                            - message_type
                            - message_payload
                            - request_id
                            - conversation_id
                            - message_id
                            - submit_timestamp
                            - sent_timestamp
                            - delivery_timestamp
                            - read_timestamp
                            - failed_timestamp
                            - deleted_timestamp
                            - extra
                            - pricing_model
                            - pricing_category
                            - expiration_timestamp
                          request_source: support_panel
                        status: deleted
                        timestamp: Fri, 06 Jan 2023 12:09:31 GMT
                        username: dxxxxhatsapp
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message.
              examples:
                Example 1:
                  value:
                    status: Unauthorized
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wbo/v2/optin/store:
    post:
      tags:
        - WhatsApp Optin API
      summary: Create Optin
      description: Create optin for the WhatsApp Business account.
      operationId: createOptin
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                msisdn:
                  type: string
                  description: >-
                    The phone number with '+' and country code for the user
                    opting in.
                optin_channel:
                  type: string
                  description: The channel through which the user opted in.
                extra:
                  type: string
                  description: Any additional information related to the optin process.
              required:
                - msisdn
                - optin_channel
            examples:
              default:
                value:
                  extra: '{extra}'
                  msisdn: '{phone number with + and country code}'
                  optin_channel: >-
                    whatsapp-api/third-party/sms/landing-page/email/voice/missed-call/physical-form
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
              examples:
                Example 1:
                  value:
                    status: success
                    message: api execution successful
                    details: given 'msisdn' is not opted in for user Demo8
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  status:
                    type: string
                    description: The status for the optin.
                  error:
                    type: object
                    description: The error for not processing the optin request.
                    properties:
                      optin_channel:
                        type: array
                        description: The channel through which the user opted in.
                        items:
                          type: string
              examples:
                Validation Error:
                  value:
                    message: unable to process request
                    status: failed
                    error:
                      optin_channel:
                        - Unknown field.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for creating optin.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the request.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net

  /wbo/v2/optinout/store:
    post:
      tags:
        - WhatsApp Optin API
      summary: Create Optin and Optout
      description: Create optin/optout for the WhatsApp Business account.
      operationId: createOptinOut
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                msisdn:
                  type: string
                  description: >-
                    The phone number with '+' and country code for the user
                    opting in.
                optin_channel:
                  type: string
                  description: The channel through which the user opted in.
                extra:
                  type: string
                  description: Any additional information related to the optin process.
                status:
                  type: string
                  description: Status which implies whether user is being opt-in or opt out 
              required:
                - msisdn
                - optin_channel
                - status
            examples:
              default:
                value:
                  extra: '{extra}'
                  msisdn: '{phone number with + and country code}'
                  optin_channel: >-
                    whatsapp-api/third-party/sms/landing-page/email/voice/missed-call/physical-form
                  status: optin/optout
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
              examples:
                Example 1:
                  value:
                    status: success
                    message: api execution successful
                    details: given 'msisdn' is now opted out  for user <channel_name>
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401_5'
              examples:
                Incorrect authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
              examples:
                Incorrect API URL:
                  value:
                    message: >-
                      The requested URL was not found on the server. If you
                      entered the URL manually please check your spelling and
                      try again.
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  status:
                    type: string
                    description: The status for the optin.
                  error:
                    type: object
                    description: The error for not processing the optin request.
                    properties:
                      optin_channel:
                        type: array
                        description: The channel through which the user opted in.
                        items:
                          type: string
              examples:
                Validation Error:
                  value:
                    message: unable to process request
                    status: failed
                    error:
                      optin_channel:
                        - Unknown field.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for creating optin.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the request.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
  /wbo/v2/optin/check:
    get:
      tags:
        - WhatsApp Optin API
      summary: Check Optin
      description: >-
        Check optin if a particular phone number has opted-in to receive
        messages from the WhatsApp Business account.
      operationId: checkOptin
      parameters:
        - name: msisdn
          in: query
          description: The phone number with '+' and country code for the user opting in.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for check optin.
                  message:
                    type: string
                    description: The response message.
                  details:
                    type: string
                    description: The optin details.
              examples:
                Example 1:
                  value:
                    status: success
[...]
